@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>FitFriend is an application designed by our team for CIS411 at the University of Louisville College of Business.  Our team consists of: Joey McCoy, Mike Crabtree, John Zhao, and Todd Lasley!</p>
