
@{
    ViewBag.Title = "BMI";
}

<h2>Calculator</h2>

<head>
    <title>BMI</title>
</head>
<body>
    <h3>BMI</h3>
    <br />
    <label>Weight: <input type= "weight" name= "weight" id= "weight" /> (lb) </label>
    <br />
    <br />
    <label>Height: <input type= "height" name= "height" id= "height" /> (ft) </label>
    <br />
    <br />
    <input type= "button" name= "Check!" value= "Check" />
    <input type= "reset" name= "Reset" value= "Reset" />
</body>
