@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to FitFriend!</h1>
    <p class="lead">FitFriend is a health and fitness application that allows you to track calories, exercises, BMI, among other things!</p>
</div>

<div class="row">
<<<<<<< HEAD
    <div class="col-md-6">
=======
    <div class="col-md-4">
>>>>>>> 18bec5c3cd093685fe3b004bd69ecbbeca330747
        <h2>About FitFriend</h2>
        <p>
            FitFriend is an application that is centered around your overall fitness and health.  
            This application allows you to set a goal, track calories, exercises, and your BMI.
            It also allows you to participate in a fitness forum with other users and find healthy
            recipes.  If you are looking to take control of your health and well-being, this is the 
            app for you!
        </p>    
    </div>
    <div class="col-md-6">
        <h2>Become a Member</h2>
        <p>In order to get access to all of FitFriend's features, sign up here!</p>
        <p><a class="btn btn-default" href="#">Register &raquo;</a></p>
    </div>   
</div>